* {
   box-sizing: border-box; 
   margin: 0px;
   padding: 0;
}

#logo{
 width: 200px;
}

.enlace-en-linea{
    display: inline-block;
    margin: 10px;
}
header{
    background-color: blue;
}
main{
    background-color: blueviolet;
}
article{
    background-color: darkgoldenrod;
}